
SPRING_DATASOURCE_URL=jdbc:mysql://kafka-3cecde92-examportal-013.j.aivencloud.com:20248/defaultdb?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC

SPRING_DATASOURCE_USERNAME=avnadmin

SPRING_DATASOURCE_PASSWORD=<YOUR_AIVEN_PASSWORD_HERE>

SPRING_JPA_HIBERNATE_DDL_AUTO=update

JWT_SECRET=QuizVaultSuperSecretSigningKeyThatIsAtLeast32BytesLongForHS256Security!
