
SPRING_DATASOURCE_URL=jdbc:mysql://<HOST>:<PORT>/defaultdb?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
\
SPRING_DATASOURCE_USERNAME=avnadmin

SPRING_DATASOURCE_PASSWORD=<YOUR_AIVEN_MYSQL_PASSWORD>

SPRING_JPA_HIBERNATE_DDL_AUTO=update

JWT_SECRET=QuizVaultSuperSecretSigningKeyThatIsAtLeast32BytesLongForHS256Security!
